body {
    background-color: lightblue;
    font-family: Abhaya Libre;
    margin: 10px 10px 10px 10px;
}

li {
    list-style: none;
}

.carouselButtonLeft {
    float: left;
}

#carouselPlacement {
    text-align: center;
}

.carouselButtonRight {
    float: right;
}

#testCarousel {
    overflow: hidden;
    display: inline;
    vertical-align: middle;
}

.carouselIndexButton:hover {
    background-color: darkslategray;
    color: white;
}

#carouselCounter {
    text-align: center;
}

.regularList {
    height: 4em;
}